@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<div class="breadcrumb-box">
    <a href="#">Home</a>
    <a href="#">Login Form</a>
</div>

<div class="information-blocks">
    <div class="row">
        <div class="col-sm-6 information-entry">
            <div class="login-box">
                <div class="article-container style-1">
                    <h3>Registered Customers</h3>
                    <p>Lorem ipsum dolor amet, conse adipiscing, eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    <label asp-for="Email">Email Address</label>
                    <input asp-for="Email" class="simple-field" type="text" placeholder="Enter Email Address" value="" />
                    @*<span asp-validation-for="Email" class="text-danger"></span>*@
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="simple-field" type="password" placeholder="Enter Password" value="" />
                    @*<span asp-validation-for="Password" class="text-danger"></span>*@
                    <div class="button style-10">Login Page<input type="submit" value=""/>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6 information-entry">
            <div class="login-box">
                <div class="article-container style-1">
                    <h3>New Customers</h3>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                </div>
                <a class="button style-12">Register Account</a>
            </div>
        </div>
    </div>
</div>