@model dynamic


<div class="information-blocks">
    <div class="row">
        <div class="col-sm-4 information-entry">
            <h3 class="block-title inline-product-column-title">Featured products</h3>
            <div class="inline-product-entry">
                <a class="image" href="#"><img src="~/img/product-image-inline-16.jpg" alt="" /></a>
                <div class="content">
                    <div class="cell-view">
                        <a class="title" href="#">Ladies Pullover Batwing Sleeve Zigzag</a>
                        <div class="price">
                            <div class="prev">$199,99</div>
                            <div class="current">$119,99</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="inline-product-entry">
                <a class="image" href="#"><img src="~/img/product-image-inline-17.jpg" alt="" /></a>
                <div class="content">
                    <div class="cell-view">
                        <a class="title" href="#">Ladies Pullover Batwing Sleeve Zigzag</a>
                        <div class="price">
                            <div class="prev">$199,99</div>
                            <div class="current">$119,99</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="inline-product-entry">
                <a class="image" href="#"><img src="~/img/product-image-inline-18.jpg" alt="" /></a>
                <div class="content">
                    <div class="cell-view">
                        <a class="title" href="#">Ladies Pullover Batwing Sleeve Zigzag</a>
                        <div class="price">
                            <div class="prev">$199,99</div>
                            <div class="current">$119,99</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-sm-4 information-entry">
            <h3 class="block-title inline-product-column-title">Featured products</h3>
            <div class="inline-product-entry">
                <a class="image" href="#"><img src="~/img/product-image-inline-19.jpg" alt="" /></a>
                <div class="content">
                    <div class="cell-view">
                        <a class="title" href="#">Ladies Pullover Batwing Sleeve Zigzag</a>
                        <div class="price">
                            <div class="prev">$199,99</div>
                            <div class="current">$119,99</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="inline-product-entry">
                <a class="image" href="#"><img src="~/img/product-image-inline-20.jpg" alt="" /></a>
                <div class="content">
                    <div class="cell-view">
                        <a class="title" href="#">Ladies Pullover Batwing Sleeve Zigzag</a>
                        <div class="price">
                            <div class="prev">$199,99</div>
                            <div class="current">$119,99</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="inline-product-entry">
                <a class="image" href="#"><img src="~/img/product-image-inline-21.jpg" alt="" /></a>
                <div class="content">
                    <div class="cell-view">
                        <a class="title" href="#">Ladies Pullover Batwing Sleeve Zigzag</a>
                        <div class="price">
                            <div class="prev">$199,99</div>
                            <div class="current">$119,99</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-sm-4 information-entry">
            <h3 class="block-title inline-product-column-title">Featured products</h3>
            <div class="inline-product-entry">
                <a class="image" href="#"><img src="~/img/product-image-inline-22.jpg" alt="" /></a>
                <div class="content">
                    <div class="cell-view">
                        <a class="title" href="#">Ladies Pullover Batwing Sleeve Zigzag</a>
                        <div class="price">
                            <div class="prev">$199,99</div>
                            <div class="current">$119,99</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="inline-product-entry">
                <a class="image" href="#"><img src="~/img/product-image-inline-23.jpg" alt="" /></a>
                <div class="content">
                    <div class="cell-view">
                        <a class="title" href="#">Ladies Pullover Batwing Sleeve Zigzag</a>
                        <div class="price">
                            <div class="prev">$199,99</div>
                            <div class="current">$119,99</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="inline-product-entry">
                <a class="image" href="#"><img src="~/img/product-image-inline-24.jpg" alt="" /></a>
                <div class="content">
                    <div class="cell-view">
                        <a class="title" href="#">Ladies Pullover Batwing Sleeve Zigzag</a>
                        <div class="price">
                            <div class="prev">$199,99</div>
                            <div class="current">$119,99</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>